<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="mysuite">
    <listeners>
        <listener class-name="utils.ExtentReporter"></listener>
    </listeners>
    <test name="test1">
        <classes>
            <class name="testcases.ProductTests"></class>
        </classes>
    </test>
    <test name="test2">
        <classes>
            <class name="testcases.UserTests"></class>
        </classes>
    </test>
</suite>